.header {
  display: flex;
  justify-content: flex-start;
  padding: 92px 24px 92px 24px;
}

.header__menu {
  display: flex;
  padding-left: 34px;
  font-size: 18px;
  padding-top: 42px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.header__menu-link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo {
  padding-left: 40px;
}

.header__logo-black {
  width: 100%;
}

.header__address {
  padding-left: 186px;
  font-style: normal;
  font-size: 18px;
  padding-top: 5px;
}

.header__address-tel {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address-mail {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
}

.cover__title {
  display: flex;
  width: 100%;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.accent-span {
  padding-left: 48px;
  padding-top: 156px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.button__main {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 12px 29px 12px 30px;
}

.lots__card__lot {
  position: relative;
  min-height: 554px;
  height: 554px;
  background-size: cover;
  display: block;
}

.lots__title__card__lot {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__paragraph__card__lot {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.about__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  width: 693px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  width: 1100px;
  margin: auto;
  display: flex;
  padding: 182px 21px 89px 58px;
  justify-content: space-between;
  flex-direction: row;
}

.footer__address {
  width: 240px;
  margin-left: 0;
}

.footer__menu {
  width: 388px;
  text-align: center;
}

.footer__menu__list {
  width: 240px;
  margin-left: 0;
}

.footer__menu__list__item {
  list-style-type: none;
  text-align: center;
}

.footer__menu__list__item__link {
  text-decoration: none;
}

.footer__networks {
  width: 237px;
  margin-right: 0;
  display: flex;
}

.footer__networks__items {
  height: "48";
}
